<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--  properties标签使用resource属性引入jdbc.properties配置文件  -->
    <properties resource="application.properties"></properties>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 设置MyBatis使用Log4j作为日志实现 -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 通过${属性名}获取具体的属性 -->
                <property name="driver" value="${spring.datasource.driver-class-name}"/>
                <property name="url" value="${spring.datasource.url}"/>
                <property name="username" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 引入映射文件 -->
    <mappers>
        <!--         <mapper resource="com/fdzc/springboot01/mapper/UserMapper.xml"/>-->
        <!-- 以包为单位，将包下所有的映射文件引入核心配置
            1. 此方式必须保证mapper接口和mapper映射文件在同相同的包下
            2. mapper接口要和mapper映射文件的名字保持一致
         -->
        <package name="com/fdzc/springboot/mapper"/>
    </mappers>

</configuration>